body {
    font-family:Arial,Helvetica,sans-sertif;
    margin:0;
    padding:0;
    background-color: aliceblue;
}

nav {
    background-color: black;
    color: whitesmoke;
    padding: 10px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0%;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}
nav ul li a {
    color: aliceblue;
    text-decoration: none;
}
nav ul li a:hover{
    text-decoration: underline;
}

.conteudo  {
    background-color: #4CAF50;
    color: aliceblue;
    text-align: center;
    padding: 100px 20px;
}
.conteudo h1 {
    margin: 0;
    font-size: 48px;
}

.conteudo p {
    font-size: 24px;
}

.conteudo .btn {
    background-color: white;
    color: #4CAF50;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 18px;
    border: 5px;
    margin-top: 20px;
}

.conteudo .btn:hover{
    background-color: aliceblue;
}